<div class="genre-index-wrapper">
  <% @genres.each do |genre| %>
    <div class="genre-box">
      <%= link_to genre_path(genre.id) do %>
        <p><%= genre.name %></p>
      <% end %>
    </div>
  <% end %>
</div>

