<div class="albums-index-wrapper">
  <% @albums.each do |album| %>
    <div class="album-display-index">
      <%= image_tag(album.cover_image, class: 'cover_image') %>
      <%= link_to(album_path(album.id)) do %>
        <p><%= album.name %></p>
      <% end %>
      <p>Number of songs:<%= album.songs.count %></p>
    </div>
  <% end %>
  
</div>


