<div class="album-show-left-column">
  <%= image_tag(@album.cover_image, class: 'cover_image') %>
  <p><%= @album.name %></p>
</div>

<div class="album-show-right-column">
  <% @album.songs.each do |song| %>
      <p><%= song.artist.name %>:<%= song.title %></p>
  <% end %>
</div>