// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genre-index-wrapper {
  text-align: center;
}

.genre-box {
  height: 300px;
  width: 30%;
  display: inline-block;
  background-color: pink;
  margin: 20px;
  line-height: 1500%;;
}

.genre-box a {
  color: white;
  text-decoration: none;
  font-size: 50px;
}

